#mainDiv{
    margin: 0 auto;
    padding: 10px;
    width: 350px;
    height: 300px;
    background: rgb(186, 206, 252);
}
#inputfield{
    margin: auto;
    border-color:  rgb(41, 62, 158);
}
#headline{
    text-align: center;
}
.leftbar{
    width: 350px;
    padding-bottom: 15px;
    display: inline-block;
    text-align: center;
    margin:auto;
}
#buttonfield{
    margin: 0 auto;
    text-align: center;
    width:350px;
    height:100px;
}
.button{
    width: 100px;
    color: rgb(41, 62, 158);
    border-color:  rgb(32, 37, 58);
    border-width: 1px;
}

.text{
    color: rgb(41, 62, 158);
}